.THIS{
    /*font-family:'Salesforce Sans' !important;*/
    font-family:token(salesforceSans);
    color :token(land);
}
            
.THIS .selectBtn{
    background-color :token(land);
    color:token(daze);
}
.THIS .nonSelectBtn{
    color:token(land);
}
.THIS .ticketNumber:hover{
    text-decoration:underline;
    cursor:pointer;
}
.THIS .width225{
    width: 225px !important;
}
.THIS .sortable{
    cursor:pointer;
}
.THIS .sortIcon{
    color: token(land);
    font-size: 13px;
    filter: grayscale(1);
}
.THIS #searchRec::-webkit-input-placeholder {
  /*color: rgb(6, 94, 102);*/
  color:token(land);
  opacity: 1; /* Firefox */
}
.THIS .jumptotop{
    margin-bottom:50px;
    cursor:pointer;
    right: -15px;
    position: absolute;
    top: 60%;
}
.THIS .select__hidden-label label {
  display: none;
}
.THIS .eyeIcon{
    fill: token(land);
}
.THIS .slds-select {
    color: token(land);
    font-size: 14px;
}