.THIS{
    font-family:'Alliance Neue' !important;
    color: token(fontColor);
}
.THIS .selectBtn{
    background-color :token(land);
    color:token(daze);
}
.THIS .nonSelectBtn{
    color:token(land);
}
.THIS .ticketNumber:hover{
    text-decoration:underline;
    cursor:pointer;
    
}
.THIS .width225{
    width: 225px !important;
}
.THIS .sortable{
    cursor:pointer;
}
.THIS .sortIcon{
    color: #065e66;
    font-size: 13px;
    filter: brightness(0.5) grayscale(1);
}

.THIS .jumptotop{
    margin-bottom:50px;
    cursor:pointer;
    right: -15px;
    position: absolute;
    top: 60%;
}
.THIS .select__hidden-label label {
  display: none;
}
.THIS .eyeIcon{
    fill: token(land);
}
.THIS .slds-select {
    color: token(land);
    font-size: 14px;
}