.THIS.is-active {
  transition: visibility 0ms linear, opacity 200ms ease;
  visibility: visible;
  opacity: 1;
}
.THIS .success-modal {
  width: 100%;
  border-radius: 8px;
  padding: 0px 15px 0px;
  background: token(tanLight);
  overflow-y: auto;
  height: 300px;
}
.THIS h2 {
  font-size: 24px;
}
.THIS p {
  color: token(grayMid);
}