.THIS .hasError > .slds-form-element > .slds-form-element__control >.slds-input {
	border-color:rgb(194, 57, 52);
	border-width: 1.5px;
}
.THIS .hasError >.input-group{
    border-color:rgb(194, 57, 52);
    border-width: 1.5px;
}
.THIS .error-message{
    color: rgb(194, 57, 52);
    display:none;
}
.THIS .hasError >.error-message{
    font-size: 13px;
    margin-top: 0.125rem;
    display: block;
    
}
.THIS .slds-show {
    display: block;
    margin-top: 24%;
    background: none;
}
.THIS .slds-spinner_container{
    background: none;
}