.THIS {
    font-family:token(salesforceSans) !important;
    color :token(fontColor);
    
}
.THIS h1{
    font-family:token(salesforceSans) !important;
    font-size:16px;
    font-weight:700;
    padding:2px;
    text-transform:uppercase;
}
.THIS li{
    font-size :14px;
    padding:2px;
}
.THIS a{
    color :token(wovnlink); 
}
.THIS .menu-list__icon{
    text-align: -webkit-center;
    border: 2px solid;
    margin-bottom: 7px;
}
.THIS .menu-list__icon > img {
  display: block;
  width: 100px;
  height: 100px;
  
    filter: grayscale(1) brightness(0.3);
}
.THIS .slds-size_1-of-4, .THIS .slds-size--1-of-4 {
    width: 20%;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 33px;
    display: block;
}