.THIS #auraErrorMessage{
    display : none;
}
.THIS .cell-breakAll {
    
    word-wrap: break-word !important; 
    padding: 7px;
    font-family: var(--lwc-fontFamily,'Salesforce Sans', Arial, sans-serif);
            font-size: 13px;
            
}
        
.THIS .table {       
border:var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218)); 
                        border-spacing: 0px; 
                        table-layout: fixed; 
                        margin-left: auto; 
                        margin-right: auto;           
                        
 }