iframe { height: 100%; }
.input {
		
		width: 100% !important;
		padding: 12px !important;
		margin-left: 1px !important;
		border: 1px solid #D8DDE6 !important;
		font-family:  Alliance Neue;
		font-size: .8125rem;	
		box-sizing: border-box;	
        border-radius: 4px;		
	}

.inputIcon{
		display : none;
	}
.inputContainer{
		margin-bottom: 10px !important;
		padding: 6px !important;
		border: 1px !important;
        color:#42472a !important;
	}

.siteforceSldsOneColLayout{
    margin: 0px auto !important;
    padding: 1.25rem !important;
    border-radius: 0.25rem !important;
    border: 1px solid #D8DDE6 !important;
    color: #42472a !important;
	width: 350px !important;
}
.uiButton{
    background-color:#32402A !important;
    color:#dcdac6 !important;
    font-family:  Alliance Neue;
}
.forceCommunityRichText a{
    color: #518397 !important;
    font-family:  Alliance Neue;
}
.forceCommunityRichText{
    color:#42472a !important;
    font-family:  Alliance Neue;
}
.inverseTextColor{
	color: #518397 !important;
    font-family:  Alliance Neue;
}